//:root {
//
//}
$primary: #f1b80e;
$primaryWithOP: rgba(241, 184, 14, 0.2);
$secondary: #ff2552;
$accent: #1AC190;
$info: #2a2c41;
$error: #f44336;
$success: #1AC190;
$commissionPrimary: #1AC190;
$commissionSecondary: #00acc1;
$muted: rgb(209, 209, 209);
$textColor1: rgb(102, 102, 102);
$textDarkPrimary: rgba(0, 0, 0, 0.87);
$textDarkSecondary: rgba(0, 0, 0, 0.54);
$textLightPrimary: rgb(255, 255, 255);
$textLightSecondary: rgba(255, 255, 255, 0.7);
$sellOrderbookPrimary: #ff5252;
$sellOrderbookSecondary: rgba(255, 82, 82, 0.2);
$sellOrderbookSecondary2: rgba(255, 82, 82, 0.4);
$buyOrderbookPrimary: #1AC190;
$buyOrderbookSecondary: rgba(26, 193, 144, 0.15);
$buyOrderbookSecondary2: rgba(26, 193, 144, 0.4);

$small-breakpoint: 375px;
